<!DOCTYPE html>
<html>
<head>
    <title>Cops on Coke</title>
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:regular&amp;subset=latin"/>
    
    <link href= {{ static_url("css/cops-on-coke.css") }} rel="stylesheet" type="text/css">
</head>
<body>
    <div id="header" class="wrap">
        <h3 class="headline">Cops on Coke</h3>
    </div>
    <div id="content" class="wrap">
        <div id="game">
            <form class="coke-form children" action="" method="post">
                Name:<br>
                <input class="form-input" type="text" name="name" value=""><br><br>
                <button class="form-button" type="submit" name="start">Start</button>
                {% module xsrf_form_html() %}
            </form>
        </div>
    </div>
    <div id="footer" class="wrap">
        <div id="info">Enjoy</div>
    </div>
</body>
</html>