<!DOCTYPE html>
<html>
<head>
    <title>Cops on Coke</title>
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:regular&amp;subset=latin"/>
    
    <link href= {{ static_url("cops-on-coke.css") }} rel="stylesheet" type="text/css">
</head>
<body>
    <div id="header" class="wrap">
        <h3 class="headline">Cops on Coke</h3>
    </div>
    <div id="content" class="wrap">
        {% if current_user %}
        <div id="game">
            <form class="coke-form children-middle" action="" method="post">
                Logged in as:<br>
                <p class="form-input">{{current_user}} </p><br>
                <button class="form-button text-red" type="submit" name="cmd" value="open">Create Lobby</button><br>
                or <br>
                <input class="form-input" type="text" name="lobby" value=""><br><br>
                <button class="form-button text-red" type="submit" name="cmd" value="join">Join Lobby</button>
            </form>
        </div>
        {% else %}
        <div id="game">
            <form class="coke-form children-small" action="http://localhost:8888/login" method="post">
                Name:<br>
                <input class="form-input" type="text" name="name" value=""><br><br>
                <button class="form-button" type="submit" name="start">Play</button>
            </form>
        </div>
        {% end %}

    </div>
    <div id="footer" class="wrap">
        <div id="info">Enjoy</div>
    </div>
</body>
</html>