<!DOCTYPE html>
<html>
<head>
    <title>Cops on Coke</title>
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:regular&amp;subset=latin"/>
    
    <link href= {{ static_url("cops-on-coke.css") }} rel="stylesheet" type="text/css">
</head>
<body>
    <div id="header" class="wrap">
        <h3 class="headline">Cops on Coke</h3>
    </div>
    <div id="content" class="wrap">
        <div id="game">
            <form id="lobby_table" class="coke-form lobby-style" action="" method="post">
                <p>Players in this Lobby:</p>

                {% for player in players_in_lobby %}
                    {% if player.name == current_user %}
                        <div class="lobby_entry">
                            <div id="state{{player.id}}" class="lobby-ready-state">
                                X
                            </div> 
                            <div id="player{{player.id}}" class="lobby-name">
                                {{player.name}}
                            </div> 
                            <button id="button-player{{player.id}}" class="lobby-ready-button" type="submit" name="ready_button" value="{{player.id}}">
                                Ready
                            </button><br>
                            <div class="clear"></div>
                        </div>
                    {% else %}
                        <div class="lobby_entry">
                            <div id="state{{player.id}}" class="lobby-ready-state">
                                X
                            </div> 
                            <div id="player{{player.id}}" class="lobby-name">
                                {{player.name}}
                            </div><br>
                            <div class="clear"></div>
                        </div>
                    {% end %}
                {% end %}
                    
            </form>
            <script type="text/javascript">
            var xhttp;
            if (window.XMLHttpRequest) {
                xhttp = new XMLHttpRequest();
                } else {
                // code for IE6, IE5
                xhttp = new ActiveXObject("Microsoft.XMLHTTP");
            }       
            </script>
        </div>
    </div>
    <div id="footer" class="wrap">
        <div id="info">Enjoy</div>
    </div>
</body>
</html>